Checks: '-*,
        android-*,
        bugprone-*,
        clang-analyzer-*,
        clang-diagnostic-*,
        cppcoreguidelines-*,
        google-build-explicit-make-pair,
        google-build-namespaces,
        google-default-arguments,
        google-explicit-constructor,
        google-global-names-in-headers,
        google-readability-avoid-underscore-in-googletest-name,
        google-readability-casting,
        google-readability-todo,
        google-runtime-int,
        google-runtime-operator,
        llvm-namespace-comment,
        misc-*,
        modernize-*,
        performance-*,
        portability-simd-intrinsics,
        portability-std-allocator-const,
        readability-*,
        -modernize-use-auto,
        -modernize-use-trailing-return-type,
        -readability-identifier-naming,
        -readability-identifier-length,
        -readability-magic-numbers,
        -readability-named-parameter,
        -readability-implicit-bool-conversion'
FormatStyle: file
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cppm
  - cxx
CheckOptions:
  - key:   llvm-namespace-comment.SpacesBeforeComments
    value: 1
  - key:   misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
  - key:   readability-function-cognitive-complexity.Threshold
    value: 100
  - key:   readability-function-size.LineThreshold
    value: 150
  - key:   readability-identifier-naming.ClassCase
    value: CamelCase
  - key:   readability-identifier-naming.EnumCase
    value: CamelCase
  - key:   readability-identifier-naming.FunctionCase
    value: camelBack
  - key:   readability-identifier-naming.MemberCase
    value: camelBack
  - key:   readability-identifier-naming.ParameterCase
    value: camelBack
  - key:   readability-identifier-naming.UnionCase
    value: CamelCase
  - key:   readability-identifier-naming.VariableCase
    value: camelBack
  - key:   readability-identifier-naming.IgnoreMainLikeFunctions
    value: true
  - key:   portability-simd-intrinsics.Suggest
    value: true
